@import '../../common.scss';
.Homepage {
    width: 100%;
    height: 100%;
    position: relative;
}
.Overview {
    position: relative;
    width: 100%;
    height: 818px;
    margin-bottom: 64px;
}
.button {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 24px;
}
.GlobeBg {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    background: url('./assets/3.png') no-repeat;
    background-size: cover;
}
.Content {
    font-size: 72px;
    color: #ffffff;
    text-align: center;
    padding-top: 50vh;
    img {
        width: 600px;
    }
}
.introduction {
    margin-top: 128px;
    color: $primary-color;
    h2 {
        font-size: 32px;
        text-align: center;
        margin: 24px;
        font-weight: 600;
        margin-bottom: 64px;
    }

}
.gender {
    margin-top: 128px;
}
.rows {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 48px;
    margin-bottom: 0px;
    .left {
        width: 1000px;
        height: 600px;
        // border: 1px solid $primary-color;
        border-radius: 20px 20px 200px 0;
        overflow: hidden;
    }
    .right {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        h2 {
            margin-bottom: 48px;
            text-decoration: underline;
        }
        h3 {
            font-size: 18px;
            text-align: center;
        }
        p {
            font-size: 24px;
            margin: 20px;
            text-align: center;
            font-weight: 700;
        }
        li {
            padding: 0 24px;
        }
    }
}

.wrapper {
    width: 100%;
    position: relative;
    height: 818px;
    .bg {
        position: absolute;
        // z-index: 0;
        top: 0;
        width: 100%;
        height: 818px;
        img {
            height: 818px;
        }
    }
    .footer {
        position: absolute;
        bottom: 64px;
        right: 64px;
        // z-index: ;
        width: 400px;
        img {
            width: 400px;
        }
    }
}

.tips {
    margin: 12px 0;
    img {
        height: 20px;
        margin-right: 8px;
    }
    display: flex;
    justify-content: center;
    align-items: center;
    span {
        text-decoration: underline;
    }
}
.layerPannel {
    width: 100%;
    .AgeGroup {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            width: 200px;
        }
        .chart {
            width: 800px;
            height: 480px;
        }
    }
}

.operationBar {
    width: 80%;
    margin: 0 auto 24px;
    display: flex;
    justify-content: space-around;
}
.yearData {
    width: 80%;
    margin: 128px auto 128px;
    display: flex;
    justify-content: space-between;
    div {
        width: 98%;
        .barchart {
            width: 100%;
            height: 400px;
        }
        img {
            width: 368px;
            margin: 0 auto;
            display: block;
        }
        p {
            font-size: 24px;
            margin-top: -24px;
            text-align: center;
        }
    }
}

.radarChart {
    width: 100%;
    height: 800px;
}

.rateTitle {
    width: 368px;
    margin: 0 auto;
    display: block;
    margin-top: 48px;
}

.overViewsec {
        font-size: 32px;
        text-align: center;
        margin: 24px;
        font-weight: 600;
        margin-bottom: 64px;
        color: $primary-color;
}

