.glob {
    // background-color: #000;
    background-color: #000;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    overflow: hidden;
    border: 2px solid #ffffff;
    transition: .2s all;
    &:hover {
        transform: scale(1.1);
    }
}
.Horizontal {
    display: flex;
    flex-direction: column;
    p {
        margin-top: 24px;
        text-align: center;
    }
}