@import '../../common.scss';
button {
    border: none;
    padding: 8px 10px;
    font-size: 18px;
    width: 120px;
    font-family: 'Dosis', Courier, monospace;
    color: $primary-color;
    background-color: #fff;
    transition: all .2s; 
    border: 1px solid $primary-color;
    &:hover {
        // background-color: #12A1CE;
        transform: scale(1.1);
        
    }
}
.primary {
    background-color: $primary-color;
    color: #fff;
}