@import '../../common.scss';
.Interactive {
    width: 100%;
    height: 100%;
    // background: url('../../assets/bg.png') no-repeat;
    background-size: contain;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.pannel {
    width: 80%;
    margin: 0 auto;
    // height: 800px;
    // border: 1px solid $primary-color;
    border-radius: 20px;
    overflow: hidden;
    background-color: rgba($color: #ffffff, $alpha: 1);
    // border-radius: 40px;
    display: flex;
    justify-content: center;
    // align-items: center;
}
.selectPannel {
    flex: 1;
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-right: 1px solid $primary-color;
}
.logo {
    width: 240px;
    margin-top: 72px;
}
.operationBar {
    display: flex;
    justify-content: space-around;
    width: 100%;
}
h1 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 24px;
    text-align: center;
    width: 100%;
}
.yearSelect {
    width: 120px;
}
.rankList {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    li {
        margin: 10px;
        display: flex;
        justify-content: center;
    }
}
.resultPage {
    padding: 24px;
    flex: 1;
    h2 {
        text-align: center;
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 24px;
        text-decoration: underline;
    }
    display: flex;
    flex-direction: column;
}
.backToHome {
    background-color: $primary-color;
    color: #fff;
    font-family: 'Dosis', Courier, monospace;
    border: none;
    padding: 8px 10px;
    margin-top: 24px;
}