.table {
    width: 800px;
    margin: 0 auto;
}

table {
    border-collapse: collapse;
}
  
table, th, td {
    border: 1px solid #170F65;
    text-align: center;
}
thead tr {
    background-color: #170F65;
    color: #fff;
}

td {
    padding: 14px 16px;
}

tbody td {
    color: #170F65;
}

tbody td:hover {
    background-color: #170F65;
    color: #fff;
}