@import '../../common.scss';
.ListItem {
    min-width: 100%;
    display: flex;
    align-items: center;
}
.rank {
    // width: 64px;
    height: 36px;
    // background-color: #59C9A5;
    border-radius: 32px;
    transition: all .2s;
    &:hover {
        transform: scale(1.1);
    }
}
.rankSmall {
    // width: 48px;
    height: 28px;
    border-radius: 24px;
}
.flag {
    // height: 18px;
    width: 36px;
    margin-left: 12px;
}
.name {
    font-size: 18px;
    font-weight: 500;
    padding: 0 10px;
    text-align: left;
    flex: 1;
}
.value {
    font-size: 28px;
    font-weight: 600;
    text-decoration: underline;
}

.valueSmall {
    font-size: 24px;
    font-weight: 600;
}
