.wrapper {
    width: 80%;
    padding: 24px;
    margin: 0 auto;
}
.overview {
    display: flex;
    justify-content: center;
    p {
        flex: 1;
        font-size: 48px;
        line-height: 48px;
        span {
            font-size: 24px;
            line-height: 48px;
        }
    }
    .right {
        text-align: right;
    }
}
.processBar {
    height: 8px;
    border-radius: 4px;
    overflow: hidden;
    width: 100%;
    display: flex;
    .female {
        background-color: #07C7EE;
        height: 8px;
    }
    .male {
        background-color: rgb(23, 15, 101);
        height: 8px;
    }
    div {
        transition: all .2s;
        border-radius: 4px;
    }
}